{
  "extends": ["eslint:recommended", "plugin:@typescript-eslint/recommended", "plugin:@stencil-community/recommended", "prettier"],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "root": true,
  "plugins": ["@typescript-eslint"],
  "rules": {
    "@stencil-community/strict-boolean-conditions": "off",
    "react/jsx-no-bind": "off"
  }
}
