:host {
  /* Color Variables */
  --mainBG: #cbcbcb;
  --darkerBG: #bdbdbd;
  --lighterBG: #d9d9d9;
  --mainText: #000;
  --secondaryText: #444444;
  --scrollbarThumbBG: #888;
  --scrollbarThumbHoverBG: #555;

  /* Dimension Variables */
  --borderRadius: 16px;
  --padding: 16px;

  display: block;
}

* {
  font-family: Roboto, sans-serif;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
  border-radius: var(--borderRadius);
  overflow: hidden;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--scrollbarThumbBG);
  border-radius: var(--borderRadius);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--scrollbarThumbHoverBG);
}

button,
input[type='submit'],
input[type='reset'],
a {
  background: none;
  text-decoration: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.card-container {
  width: -webkit-fill-available;
  position: relative;
  padding: var(--padding);
  border-radius: var(--borderRadius);
  background-color: var(--mainBG);
  display: flex;
  /* max-height: 10em; */
  overflow: hidden;
  gap: 10px;
  /* flex: 1; */
  z-index: 10;
}

.main-card-body {
  display: flex;
  flex-direction: row;
  flex: 1;
}

.default-children-button {
  display: flex;
}

.children-btn-label {
  text-decoration: underline;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  height: -webkit-fill-available;
  width: -webkit-fill-available;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
  padding: 2em;
}

.default-action-btns-container {
  display: flex;
  gap: 0.5em;
}

.default-card-footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex: 1;
}

.children-container {
  position: relative;
  z-index: 1;
  margin-top: calc(var(--padding) * -1);
  padding: var(--padding);
  padding-top: 32px;
  background-color: var(--darkerBG);
  height: 10em;
  border-bottom-left-radius: var(--borderRadius);
  border-bottom-right-radius: var(--borderRadius);
  overflow-y: scroll;
  padding-right: 25%;
}

.card-image {
  max-width: 100%;
  border-radius: var(--borderRadius);
  object-fit: contain;
}

.image-wrapper {
  width: auto;
  flex: 1;
}

.title {
  margin: 0;
  font-size: 1.3em;
  font-weight: 600;
  text-overflow: ellipsis;
  color: var(--mainText);
  overflow: hidden;
  white-space: nowrap;
}

.subtitle {
  margin: 0;
  font-size: 0.9em;
  color: var(--secondaryText);
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.bodyText {
  display: flex;
  font-size: 1em;
  overflow: hidden;
  text-overflow: ellipsis;
  color: var(--mainText);
  margin-bottom: 0;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* number of lines to show */
  line-clamp: 3;
  -webkit-box-orient: vertical;
}

.main-card-wrapper {
  flex: 6;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  overflow: hidden;
  /* justify-content: space-between; */
}

.wrapper-middle {
  flex: 3;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-width: 0;
}

.wrapper-right {
  flex: 1;
  margin-left: 2em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}

.label-value-wrapper {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.label {
  font-size: 12px;
  color: var(--secondaryText);
}

.value {
  font-size: 16px;
  color: var(--mainText);
}

.alignRight {
  text-align: right;
}

.children-text {
  color: var(--secondaryText);
  size: 0.9em;
  text-decoration: underline;
}

.tag-container {
  display: flex;
  flex: 1;
  gap: 0.25em;
  flex-direction: row;
}

.tag {
  border-radius: 4px;
  padding: 0.15em;
  padding-left: 0.25em;
  padding-right: 0.25em;
  gap: 0.3em;
  flex-shrink: 1;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}

.tag-text {
  font-size: 0.75em;
  font-weight: 600;
  color: white;
  text-wrap: nowrap;
}

.detailed-card-container {
  width: 100%;
  height: 100%;
  padding: var(--padding);
  border-radius: var(--borderRadius);
  background-color: var(--mainBG);
  display: flex;
  overflow: hidden;
  gap: 10px;
  /* z-index: 20; */
}

.detailed-metadata-container {
  background-color: var(--lighterBG);
  padding: var(--padding);
  height: -webkit-fill-available;
  flex: 2;
  border-radius: var(--borderRadius);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.detailed-metadata-content-container {
  flex: 1;
}

.detailed-metadata-content {
  display: flex;
  flex-direction: column;
  gap: 0.75em;
  margin-top: 0.75em;
}

.detailed-main-card {
  padding: 0px;
}

.detailed-children-container {
  flex: 1;
  width: -webkit-fill-available;
  margin-top: 1em;
}

.detailed-action-btns-container {
  display: flex;
  gap: 1em;
  flex-direction: row-reverse;
  align-items: center;
}

.detailed-main-wrapper {
  flex: 7;
  display: flex;
  flex-direction: column;
}

.minimal-card-container {
  position: relative;
  padding: 0.1em;
  /* max-width: 30em; */
  border-radius: var(--borderRadius);
  background-color: var(--lighterBG);
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-height: 3em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  margin-bottom: 0.5em;
}

.minimal-child-wrapper {
  padding-left: 2em;
}

.minimal-title-container {
  display: flex;
  align-items: center;
}

.minimal-title {
  font-size: 0.9em;
  margin-left: 0.5em;
}

.minimal-children-btn {
  margin-left: 0.5em;
}

.tag-icon {
  color: #fff;
  font-size: 12px;
}

.action-btn-icon {
  color: var(--mainText);
  height: 1.5em;
  display: flex;
  align-items: center;
  gap: 0.5em;
}
